<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Bundle Name="Bundle1"
          Manufacturer="TODO Manufacturer"
          Version="1.0.0.0"
          UpgradeCode="34343434-3434-3434-3434-343434343434">

    <Variable Name="InstallFolder" Type="formatted" Value="[ProgramFilesFolder]MyApp" Persisted="yes" />

    <BootstrapperApplication SourceFile="$(var.InstallerUI.TargetPath)">
      <Payload SourceFile="$(var.InstallerUI.TargetDir)WixToolset.BootstrapperApplicationApi.dll" />
      <Payload SourceFile="$(var.InstallerUI.TargetDir)mbanative.dll" />
      <Payload SourceFile="$(var.InstallerUI.TargetDir)InstallerUI.exe.config" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage SourceFile="$(var.Package2.TargetPath)" />
    </Chain>

  </Bundle>
</Wix>
