<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="Bundle1"
          Manufacturer="TODO Manufacturer"
          Version="1.0.0.0"
          UpgradeCode="34343434-3434-3434-3434-343434343434">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseUrl="https://www.example.com/license" Theme="hyperlinkLicense" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage SourceFile="$(var.Package2.TargetPath)" />
    </Chain>

  </Bundle>
</Wix>
